@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
body{
    background-image: url(/img/bbg.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}
header{
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}
.navbar-container{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #333;
    font-family: Battambang;
}
.navbar-container .navbar-menu{
    display: flex;
    list-style: none;
    margin-top: 3px;
}
.navbar-menu li{
    position: relative;
    padding: 13px 20px;
}
.navbar-menu li a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    position: relative;
}
.navbar-menu li .a::before,.a::after{
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
}
.navbar-menu li .a:after{
    background-color: white;
    bottom: 0;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.4s;
    border-radius: 10px;
}
.navbar-menu li:hover .a::before,.navbar-menu li:hover .a::after{
    transform: scaleX(100%);
    transition: 0.4s;
}
.dropdown{
    margin-top: 10px;
    background-color: #333;
    list-style: none;
    position: absolute;
    left: 0%;
    top: 100%;
    padding: 0;
    height: 0;
    transition: 0.3s;
    overflow: hidden;
    z-index: 1;
}
.dropdown li {
    display: block;
    padding: 10px 30px 10px 36px;
}
.dropdown li:hover{
    background-color: rgba(128, 128, 128, 0.519);
    transform: scale(1.10);
}
.navbar-menu li i{
    transform: 0.3s;
    color: white;
}
.navbar-menu li:hover i{
    transform: rotate(180deg);
    transform: 0.3s;
}
.navbar-menu li:hover .dropdown{
    height: 124px;
    transform: 0.3s;
}
.navbar-container .button-darkmode{
    width: 100px;
    height: 50%;
    margin-left: 750px;
    margin-top: 12px;
    border: none;
    background-color: black;
    opacity: 0.6;
    border-radius: 12px;
    cursor: pointer;
    color: white;
}
.button-darkmode:hover{
    opacity: 1;
}
.logo-container{
    width: 100%;
    height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.301);
    font-family: koulen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    color: white;
}
.logo-container{
    width: 197.7vh;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.301);
    font-family: koulen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}
.logo-container .search-buttom input{
    width: 300px;
    height: 32px;
    border-radius: 7px;
    border: 1px solid grey;
    outline: none;
    background-color: white;
    position: relative;
}
.search-buttom i{
    cursor: pointer;
}
.search-buttom i:hover{
    transform: scale(1.10);
}
.login{
    display: flex;
    cursor: pointer;
}
.login i{
    margin-top: 15px;
    cursor: pointer;
    margin-left: 20px;
}
.contact{
    width: 50%;
    height: 40vh;
    margin: 50px 0px 200px 0px;
    padding: 10px;
    /* color: white; */
}
.form{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    backdrop-filter: blur(5px);
}
.box1{
    width: 100%;
    height: 65%;
    position: relative;
}
.in1{
    width: 50%;
    height: 30%;
    margin: 10px 45px auto;
    border-radius: 5px;
    border: none;
    background-color: aqua;
    color: white;
}
.in2{
    width: 50%;
    height: 30%;
    margin: 10px 45px auto;
    border-radius: 5px;
    border: none;
    background-color: greenyellow;
    color: white;
}
.in{
    width: 50%;
    height: 30%;
    margin: 10px 45px auto;
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: white;
}
.in3{
    width: 50%;
    height: 30%;
    margin: 10px 45px auto;
    border-radius: 5px;
    border: none;
    background-color: palevioletred;
    color: white;
}
.sign{
    width: 97%;
    height: 50%;
    background-color: rgb(66, 63, 63);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
}
h2{
    color: white;
}
.in:hover,.in1:hover,.in2:hover,.in3:hover{
    transform: scale(1.03);
    transition: 0.4s;
    cursor: pointer;
}
footer{
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}